@media only screen and (max-width: 815px){
    .issue-written-container{
        flex-direction: column-reverse;
        padding-top:100px;
        padding-bottom: 100px;
    }



    .written-content{
        padding:46px;
        background-color: #ffffff;
        width:85%;
        align-items: baseline;
        margin-top:100px;
      }
      #issue-content{
          margin:0 0 20px 0;
      font: Bold 2.4em/56px Helvetica;
      }

      /* take action */

      .action{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 0 30px 0px; 
      }
      .action-box{
          width:250px;
      }
      .take-action-legend{
          top:-9%;
          left:36%;
      }

      /* what we do */
#what-we-do{
    padding:0px;
    padding-top:10px;
}
    .what-we-do-box {
        flex-direction: column;
    }

    #what-we-do .container .portrait-box {
        width: auto;
        margin-bottom: 30px;
    }

    #what-we-do .container .portrait-box div {
        display: flex;
        flex-direction: column;
        left: 0;
    }



    #what-we-do .portrait-box .col-1{
        display: flex;
        justify-content: space-around;
    }

    #what-we-do .portrait-box .col-1 p{
        width: 40%;
        position: relative;
        top: 40;
    }

    #what-we-do .portrait-box .col-2{
        display: flex;
        flex-direction: row-reverse;
        height:125px;
        
    }


    #what-we-do img {
        width: 35vw;
    }


    .portrait-box p {
        width: 80%;
        padding:0px;
    } 

    .portrait-box .regular {
        font: lighter 2.5vw/3vw Helvetica;
        width: 44%;
        position: relative;
        bottom: 90px;
    }

    #what-we-do .container strong {
        font: Bold 3vw/4vw Helvetica;
    }


    #what-we-do .container .portrait-box a{
        position: relative;
        top: 35px;
        right: 45px;
        display: flex;
        width: 20vw;
        height: 35px;
        background: #c1f7d5;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        font: bold 3vw/1vw helvetica;
    }
    .read-more-btn{
        padding:10px;
    }


}
@media only screen and (max-width: 500px){
    .written-content{
        padding:40px;
        background-color: #ffffff;
        width:76%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        position: relative;
        margin-top:100px;
      }
      .the-issue-legend{
          left:22%;

      }
      #issue-content{
          text-align: center;
          float:center;
        margin:0 0 20px 0;
    font: Bold 1.6em/38px Helvetica;
    
    }
    #issue-link{
        float:center;
        text-decoration: underline;
        text-align: center;
      }
      .take-action-legend{
          left:23%;
          top:-7%;
      }

    /* Take action */
        .action-box{
            width:150px;
        }
        #what-we-do {
            padding: 20 0 0 0;
        }
    
        #what-we-do .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        #what-we-do .container .bold {
            font: Bold 22px/28px Helvetica;
            width: auto;
            text-align: center;
        }
    
        #what-we-do .container .portrait-box {
            width: 100%;
            height: auto;
            padding-bottom: 70px;
        }
    
        #what-we-do .container .portrait-box div{
            left: unset;
            align-items: center;
        }
    
        #what-we-do .container .portrait-box img{
            width: 70vw;
            height: auto;
        }
    
        #what-we-do .container strong {
            font: Bold 18px/22px Helvetica;
        }
    
    
        #what-we-do .portrait-box .col-1{
            display: block;
        }
    
        #what-we-do .portrait-box .col-2{
            display: block;
        }
    
        #what-we-do .portrait-box .col-1 p {
            width: auto;
            position: unset;
            top: unset;
            text-align: center;
        }
    
    
        #what-we-do .container strong {
            font: Bold 5vw/6vw Helvetica;
        }
    
        .portrait-box .regular {
            bottom: unset;
            font: lighter 4vw/5vw Helvetica;
            width: 80%;
        }
    
    
        #what-we-do .portrait-box .col-2 {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            display: flex;
        }
        
        #what-we-do .container .portrait-box a {
            position: unset;
            font-size: 4vw;
            width: 42vw;
        }
        .read-more-btn{
           
            padding:22px;
        }
    }

